body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2eecc;
}

.figu-dropdown {
    position: relative;
    z-index: 1000;

}

.figu-dropdown-menu {
    position: absolute;
    z-index: 1000;
    background-color: #FFF;
    cursor: pointer;
    border-radius: 0px  0px 5px 5px;
    border: 1px solid #CCC;
    border-top: none;
    margin-left: 15px;
    overflow-y: scroll;
    max-height: 200px;
}

.figu-dropdown-menu .Dropdown-option {
    padding: 10px;
    border-bottom: 1px dotted #CCC;
}

.figu-dropdown-menu .Dropdown-option:hover {
    color: #d1495b;
    font-weight: bold;
}

.figu-dropdown-placeholder {
    text-decoration: none;
    background: #d1495b;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border-bottom: 5px solid #bd3547;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
}

.figu-dropdown-placeholder:after {
    content: '▾';
    margin-left: 30px;
}

@media (max-width: 767px) {
    .figu-dropdown-menu {
        overflow-y: scroll;
    }
}